= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg
  .field
    %p{style:"color:red;display:inline;"} *
    = f.label :name
    = f.text_field :name
  .field
    %p{style:"color:red;display:inline;"} *
    = f.label :project_name
    = f.text_field :project_name, style: "margin-bottom: 15px;"
  .field
    %p{style:"color:red;display:inline;"} *
    = f.label :project_description
    %br/
    = f.text_area :project_description, style: "width: 300px; height: 200px;"
  -if @team.new_record?
    %h2{style: "color: red;"}This password must be used to edit this team after it is created. Make sure to write it down so you don't forget! Either give it to your team members so they can register themselves or you can register them yourself now. 
  .field
    %p{style:"color:red;display:inline;"} *
    = f.label :password
    = f.password_field :password 
  .field
    %p{style:"color:red;display:inline;"} *
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %br/
  %h1 Add/Edit Members:
  %p
    %b
      Select "Add team member" to add a new team member entry. You will select this link as many times as you need to enter all of your team members. For example, click 4 times for 4 team members. For each user, enter their name, and their email. If you do not have all your members yet, don't worry. When you create your team your name will be listed on the page you arrive at by clicking "Register a team/user" at the top. Give any new team members who would like to join your team your team name, or alternatively, you can give them the url that is given after team creation.
  %p
    %b
      If you mistakenly add a team member, or would like to remove yourself from the team, select "Remove team member" next to the user you would like to remove.
  .users
    = link_to_add_fields "Add team member", f, :users
    = f.fields_for :users do |uf|
      = render 'user_fields', f: uf

  .actions
    = f.submit 'Save'
