.widget.section-900
  %h2#spotlight.widgethead.ter-color
    Innovation Academy Web App Competition
  %p Want to apply what you’ve learned in this course by creating your own web app for that idea or business opportunity you’ve been thinking about?  Here’s your chance to see if your app has commercial possibilities by entering the Innovation Academy Web App Competition, sponsored by STC.UNM, the University of New Mexico’s technology-transfer and economic-development organization.  
  %h3.title About the Competition
  %h3 What Is It?
  %p This competition is an opportunity for students to take their newly acquired skills to the next level by building an app for an idea or business that you think has licensing or start-up company potential.  
  %h3 Who’s Eligible to Compete?
  %p Any student who has completed the MOOC Web Application Architectures course or is a University of New Mexico student enrolled in the concurrent UNM offering.
  %h3 How Is the Competition Organized?
  %p Interested students will form teams to select and work on an app project. A typical team size is 3-5 people, but not limited to this size. The projects will be judged by the instructor who will select the top five projects.  The top five teams will be judged on December 11, 2014 based on technical quality, societal impact and business improvement. 
  %h3 Who Are the Competition Judges?
  %p National and local (Albuquerque) successful serial investors/entrepreneurs experienced in funding IT start-ups and licensing IT technology.
  %h3 What are the judging criteria?
  %p Judges will be looking for apps that have outstanding potential, offer an innovative solution to a problem, are easy to use, and have excellent technical performance.  Overall scoring will be based on technical quality, societal impact and business improvement.
  %h3 How to Register/Submit
  %p Please visit https://stc.unm.edu/webapp to register your team and see instructions for submission.  
  %h3 Competition Timeline and Deadlines
  %ul
    %li Monday, October 13, 2014: Team Formation – Select your team (feel free to reach out to classmates on Coursera) and notify the instructor.
    %li Tuesday, October 21, 2014: Provide Project Status Update #1 to the instructor.
    %li Tuesday, November 11, 2014: Provide Project Status Update #2 to the instructor.
    %li Thursday, December 4, 2014: Submit final project to the instructor.
    %li Monday, December 8, 2014: Selection of top 5 teams announced. 
    %li Thursday, December 11, 2014: Final judging of top 5 teams will take place on from 8:30am-12:00pm MT in Albuquerque, New Mexico, USA.  Participants will present in-person or via video conferencing. The top five teams are expected to provide a 15 minutes presentation with 15 minutes of question and answer.
  %h3 Competition Awards
  %p The competition is being sponsored by STC.UNM.  The first place team will be awarded $1,250, the second place team will be awarded $750, and the third place team will be awarded $500.  The award dollars are subject to U.S. trade policies.  If the money cannot be transferred, it will be held in Albuquerque, New Mexico, USA.
  %h3.title Additional Information
  %h3 Is the competition part of the course curriculum, i.e., a final project that is part of the final assessment or extra credit, or is it strictly voluntary?
  %p The competition is strictly voluntary and open to any student who has completed the Coursera Web Application Architectures class. 
  %h3 Can teams submit an app that one or more members started before taking the class?
  %p Yes.
  %h3 What language requirement will there be for app submission?
  %p The app materials must be submitted in English, but the apps may include internationalization.  
  %h3 What would disqualify an application?
  %p Inappropriate, illegal, pornographic, immoral content would disqualify a team. The app must abide by Coursera’s Code of Conduct. 
