.widget.section-900
  %h2#spotlight.widgethead.ter-color
    Edit or start a team
  %p
    %b
      Here you will register a team, or add yourself to an existing team. If you are looking to join a team that a team member has already started, please select the team name below to go to the registration page. If your team member provided you a url to add yourself, you may go directly to that page to add yourself.
  -if @teams.blank?
    %h3
      No teams have been made yet.
  -else
    %table
      %tr
        %th Team Name
        %th Project Name
        %th Project Description
      - @teams.each do |t|
        %tr
          %td
            = link_to t.name, team_path(t)
          %td= t.project_name
          %td= t.project_description
  %ul.news
    %li
      %h3= link_to 'New Team', new_team_path

:javascript
  $(function(){
    $('#team').change(function(){
      $("#user-multi").show();
    });
  });
