%h1 New team
%p
  %b
    Enter your team name, the name of your project, and the description of what your entry is or will be. All three fields are required.

= render 'form'

= link_to 'Back', teams_path
