%p
  %b Name:
  = @team.name
%p
  %b Project name:
  = @team.project_name
%p
  %b Project description:
  = @team.project_description

%h3 Members:
- if @team.users.blank?
  %p There are no team members added yet. Did you forget to add yourself?
-else
  - @team.users.each do |user|
    %p
      = user.full_name

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
:javascript
  $(document).ready(function(){
    $(".close").remove();
  });
