.spotlight {
	width: 280px;
	float: left;
	padding: 0;
	margin: 0 15px 10px;
	display: block;
	}
	
.section {
	background-color: #eee;
	padding: 10px;
	margin-bottom: 20px;
	}
	
.section * {
	margin: 0;
	padding: 0;
	}
	
.section-280, .section-300, .section-320, .section-460, .section-480, .section-620, .section-640, .section-940, .section-960 {
	float: left;
	display: block;
	background: #fff;
	}
	
.section-280 { width: 280px; margin: 10px; }
.section-300 { width: 300px; margin: 10px; }
.section-320 { width: 320px; }
.section-460 { width: 460px; margin: 10px; }
.section-480 { width: 480px; }
.section-620 { width: 620px; margin: 10px; }
.section-640 { width: 640px; }
.section-940 { width: 940px; margin: 10px; float: none; }
.section-960 { width: 960px; float: none; }
	
.video-small {
	width: 280px;
	height: 210px;
	}
	
.video-large {
	width: 600px;
	height: 450px;
	}
	
.widget {
	border: 2px solid #ddd;
	margin: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}
	
ul.news, ul.categories, .widget ul.news, .widget ul.categories {
	width: 100%;
	/*width: 300px*/
  	list-style: none outside;
  	padding: 0;
  	margin: 0;
  	background-color: transparent;
  	border-top: 1px solid #ddd;
	}	
	
ul.news li{
  	list-style: none outside;
	margin-left: 0;
	font: 11px/1.3 arial, sans-serif;
	color: #666;
	text-decoration: none;
	/*width: 280px;*/
	margin: auto;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #ddd;
	}

ul.news li strong {
	color: #000;
	font-weight: 501;
	}
	
ul.news li a, ul.news li span {
	font: bold 12px/1.3 arial, sans-serif;
	color: #078;
	text-transform: none;
	} 

ul.news li a:hover {
	text-decoration: underline;
	}
	
ul.news li img {
	float: left;
	border: 1px solid #666;
	margin: 0 5px 5px 0;
	width: 45px;
	height: 60px;
	padding: 0;
	}
	
ul.categories li{
  	list-style: none outside;
	margin: auto;
	display: block;
	}
	
ul.categories li a {
	font: bold 12px/1.3 arial, sans-serif;
	color: #666;
	text-decoration: none;
	margin: auto;
	padding: 8px 10px;
	display: block;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	}
	
ul.categories li a:hover {
	background: #078;
	color: #fff;
	}
	
.widget dl, .widget iframe, .widget p, .widget h3, .widget img, .widget ul, .widget ol {
	margin: 8px 10px;
	}
	
img.nomargin {
	margin: 0;
	} 
	
img.icon {
	margin: 0;
	padding: 0;
	border: 0;
	}
	
.widgethead, .widget h3.widgethead {
	line-height: 2.2em;
	font-weight: bold;
	margin: 0;
	padding: 0 0 0 10px;
	background: #ddd;
	border-bottom: 1px solid #aaa;
	}
	
div.cs_corevalues {
	background: #fff url(../_images/content_sub_corevalues.jpg) no-repeat top right;
	height: 900px;
	}
	
div.cs_internships {
	background: #fff url(../_images/content_sub_internships.jpg) no-repeat top right;
	height: 900px;
	}
	
div.cs_startupcompanies {
	background: #fff url(../_images/content_sub_startupcompanies.jpg) no-repeat top right;
	height: 900px;
	}
	
img.staff {
	width: 75px;
	height: 100px;
	border: 1px solid #bbb;
	padding: 2px;
	}
	
a:hover img.staff {
	border-color: #407;
	}
	
.hr-sub {
	float: right; 
	font-size: .9em; 
	text-transform: none; 
	padding: 0 10px 0 0;
	}

.hr-sub a:hover {
	text-decoration: underline;
	}
	
.clr {
	clear: both;
	}
	
.hr {
	clear: both;
	border-bottom: 1px solid #666;
	height: 1px;
	margin: 20px 0;
	}
	
.pri-color {
	color: #078;
	}

.sec-color {
	color: #740;
	}

.ter-color {
	color: #407;
	}
	
.rev-color {
	color: #fff;
	}
	
.alert {
	color: #b00;
	} 
	
.light {
	color: #777;
	font-weight: normal;
	}
	
.fl {
	float: left;
	}
	
.fr {
	float: right;
	}
	
.un {
	border: 0;
	border-bottom-width: 1px;
	border-style: solid;
	}
	
.center {
	text-align: center;
	}
	
.activenewspage {
	background-color: #089;
	color: #fff;
	font-weight: bold;
	padding: 1px 4px;
	border: 1px solid #089;
	margin: 0 2px;
	}
	
.articleimage {
	width: 260px;
	font: 10px/1.1 arial, sans-serif;
	color: #222;
	margin: 5px;
	text-align: justify;
	padding: 4px;
	border: 1px solid #ddd;
	display: block;
	}
	
.articleimage img {
	border: 0;
	margin: 0 0 5px;
	padding: 0;
	}
	
.smallcaps {
	font-size: .9em;
	text-transform: uppercase;
	}
	
.spacer {
	margin-bottom: 30px;
	}
	
.hide {
	display: none;
	}
	
.right {
	text-align: right;
	}

.toggler {
	cursor: pointer;
	}

.highlight {
	background-color: #cee;
	}
	
.pages a {
	padding: 1px 4px;
	border: 1px solid #ddd;
	margin: 0 2px;
	}
	
.pages a:hover {
	border: 1px solid #089;
	text-decoration: none;
	}
