body {
	border: 0;
	margin: 0 auto;
	padding: 0;
	background: #eee url(content_bg.gif) no-repeat center 0px;
	}
	
#printlogo {
	display: none;
	}

a img, img.noborder {
	border: 0;
	padding: 0;
	}
	
img, img.border{
	padding: 4px;
	border: 1px solid #aaa;
	background: #eee;
	margin: 0 5px 10px;
	}
	
a {
	font-weight: bold;
	color: #407;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}
	
h1 a, h2 a, h3 a {
	color: inherit;
	display: block;
	}
	
h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: none;
	}
	
h1 {
	font: 24px/1.1 arial, "lucida sans unicode", "lucida grande", sans-serif;
	color: inherit;
	background: transparent;
	margin: 0 0 10px 0;
	padding: 5px 0 15px 0;
	text-shadow: 0 1px 0 #666;
	}
	
.ribbon {
	background: transparent url(h1_bg.gif) no-repeat bottom left;
	}

h2, .title {
	font: 16px/1.2 arial, sans-serif;
	color: inherit;
	margin: 0 0 20px;
	}
	
.title {
	font-weight: bold;
	}
	
h3 {
	font: bold 12px/1.2 arial, sans-serif;
	color: inherit;
	text-transform: uppercase;
	margin: 0 0 10px;
	text-shadow: 0 1px 0 #fff;
	}
	
.header {
	font-weight: bold;
	color: inherit;
	text-transform: uppercase;
	padding: 4px;
	background: #eee;
	text-shadow: 0 1px 0 #fff;
	}
	
p, dt, dd, ul, td, th, ol {
	font: 12px/1.5 arial, sans-serif;
	color: #222;
	margin: 0 0 20px;
	text-align: left;
	}
	
ul li ul, ul li ol, ol li ol, ol li ul {
	margin-bottom: 0;
	}
	
dt {
	font-weight: bold;
	margin: 0;
	}
	
dd {
	margin-left: 30px;
	}
	
ul li, ol li{
	list-style: inherit outside;
	padding: 0px;
	margin-left: 20px;
	}
	
table {
	border: 1px solid #aaa;
	border-collapse: collapse;
	width: 100%;
	}
	
td {
	vertical-align: top;
	padding: 5px 20px 5px 5px;
}

th {
	vertical-align: middle;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
	background-color: #ccc;
	padding: 5px 20px 5px 5px;
	}

td.end {
	padding-right: 5px;
	}
	
tr.alt {
	background-color: #eee;
	}

table.center {
	border-collapse: separate;
	}
	
table.center td, table.center th{
	text-align: center;
	padding: 5px;
	}
	
#head-wrap {
	background: #055 url(header_bg.png) repeat-x 4px 0px;
	height: 145px;
	border-bottom: 1px solid #246;
	}
	
#head {
	background: #055 url(head_bg.png) repeat-x top left;
	width: 960px;
	height: 145px;
	margin: 0 auto;
	padding: 0 30px;
	}

#head p {
	margin: 0 30px 0 770px;
	text-transform: uppercase;
	font: 11px/2 arial, sans-serif;
	color: #fff;
	text-align: right;
	float: right;
	background: #045;
	padding: 0 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	}

#head p a {
	text-decoration: none;
	font-weight: normal;
	}
	
#head p a:hover {
	text-decoration: underline;
	}
	
#home {
	background: #fff url(home_bg.png) no-repeat bottom center;
	width: 225px;
	height: 200px;
	padding: 0px;
	margin-left: 30px;
	border: 1px solid #bbb;
	border-top: 0;
	float: left;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	z-index: 1;
	position: absolute;
	}
	
#home a {
	background: transparent url(logo.gif) no-repeat top left;
	width: 225px;
	height: 200px;
	display: block;
	border: 0;
	text-indent: -3000em;
	}
	 
#home a:hover {
	background-position: 0px -200px;
	}

#menu {
	height: 24px;
	margin: 109px 0 0 257px;
	padding: 6px 0;
	background: #000 url(menu_bg.png) no-repeat top left;
	float: left;
	width: 680px;
	position: absolute;
	}

#menu ul {
	height: 24px;
  	list-style: none outside;
  	padding: 0 0 0 20px;
  	margin: 0;
  	background-color: transparent;
	width: 660px;
	}	

#menu li {
	margin: auto;
  	display: block;
	float: left;
	height: 24px;
	}

#menu li a, #menu li.current {
	font: 11px/24px arial, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0 5px;
	display: block;
	float: left;
	height: 24px;
	}
	
#menu li.current {
	background: #003a4a;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
	}
	
#menu li a:hover{
	/* color: #0a9; doesn't need. Use definition below to incorporation jquery*/
	}	

/*jquery fadelinks */
#menu li a span.two{
	color: #000;
	background: #fff;
	padding: 0 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
#sub-menu {
	width: 675px;
	height: 50px;
	margin: 0 auto;
	padding: 0 0 20px 285px;
	}
	
#sub-menu ul {
	height: 50px;
  	list-style: none outside;
  	padding: 0;
  	margin: 0;
  	background-color: transparent;
	}	

#sub-menu li {
	margin: auto;
  	display: block;
	float: left;
	height: 30px;
	}

#sub-menu li a {
	font: 12px/50px arial, sans-serif;
	color: #777;
	text-decoration: none;
	margin: 0;
	padding: 0 7px;
	display: block;
	float: left;
	height: 50px;
	}
	
#sub-menu li a:hover {
	color: #089;
	text-decoration: underline;
	}
	
#sub-menu li a.current {
	color: #000;
	text-decoration: underline;
	}
	
#banner {
	background: #fff;
	width: 960px;
	height: 65px;
	margin: 0 auto;
	}

#content-container {
	background: #fff url(building_bg.png) no-repeat bottom center;
	width: 960px;
	padding: 0 29px 100px;
	margin: 0 auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	}

#content-wrap {
	width: 960px;
	background: transparent;
	margin: 0 auto;
	padding: 10px 0 0;
	}
	
#foot-wrap {
	background: #2a2a2a url(footwrap_bg.png) repeat top left;
	margin: 0;
	padding: 0;
        height: 300px;
}

#foot h1 {
	background: transparent url(innovationdoor_bg.gif) no-repeat center 7px;
	height: 75px;
	margin: 0 20px;
	padding: 0;
	text-align: center;
	text-indent: -3000px;
	border-bottom: 2px solid #333;
	}
	
#foot {
	background: transparent;
	width: 1020px;
	margin: 0 auto;
}

#foot div {
	width: 150px;
	float: left;
	padding: 30px 0 30px 50px;
	}
	
#foot ul {
	width: 202px;
  	list-style: none outside;
  	padding: 0;
  	margin: 0 0 10px 0;
  	background-color: transparent;
	}	
	
#foot li {
	margin: auto;
  	display: block;
	}
	
#foot li a {
	font: 11px/1.3 arial, sans-serif;
	color: #ddd;
	width: 150px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: block;
	}

#foot-wrap p {
	font: 11px/1.3 arial, sans-serif;
	color: #ddd;
	}
	
#foot-wrap p a {
	color: #fff;
	text-decoration: underline;
	}
	
#foot-wrap a:hover {
	color: #09a;
	}
	
#foot-wrap a.image:hover, #foot-wrap img {
	background: transparent;
	color: transparent;
	border: 0;
	}
	
#foot li a.socnet {
	width: 90px;
	height: 25px;
	line-height: 25px;
	padding-left: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-bottom: 2px;
	}
	
#foot-wrap p a.socnet {
	display: block;
	width: 90px;
	height: 25px;
	line-height: 25px;
	padding-left: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-bottom: 2px;
	}
	
#foot-wrap li a.linkedin {
	background-image: url(../_images/linkedin.png);
	}
	
#foot-wrap li a.twitter {
	background-image: url(../_images/twitter.png);
	}
	
#foot-wrap li a.vimeo {
	background-image: url(../_images/vimeo.png);
	}
	
#foot-wrap li a.technologies {
	background-image: url(../_images/rss.png);
	}
	
#foot-wrap li a.foorumnm {
	background-image: url(../_images/foorumnm.png);
	}
	
#foot-wrap li a.innovationdoor {
	background-image: url(../_images/innovationdoor.png);
	}

#foot-wrap li a.facebook {
background-image: url(../_images/fb.png);
}

#foot-wrap li a.pinterest {
background-image: url(../_images/pinterest.png);
}
	
#foot-wrap li a.socnet:hover {
	background-position: 0px -25px;
	color: #fff;
	}
	
#foot-wrap h3 {
	font: bold 16px/1.2 "arial narrow", arial, sans-serif;
	text-shadow: none;
	color: #fff;
	}
	
#copyright {
	padding: 20px 0 5px;
	margin: 0 20px;
	text-align: right;
	border-top: 2px solid #333;
	}
