// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_fields {
  margin-top: 5px;
}

.actions {
  margin-top: 10px;
}
