%li{class: controller.action_name == "index" ? "current" : ""}
  = link_to "Register a Team/User", teams_path
%li
  = link_to "Add first status update", comingsoon_path
%li
  = link_to "Add second status update", comingsoon_path
