!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Stc Competition'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Stc Competition'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #printlogo
      =image_tag("stclogo-horizontal.png")
    #head-wrap
      #head
        #home
          %a{href: "/"}
            Home
        #menu
          = render 'layouts/navigation'
    #content-container
      #banner
      #content-wrap
        = render 'layouts/messages'
        = yield
    #foot-wrap
      #foot
        %h1
          Supporting Technology Transfer and Catalyzing Economic Development at The University of New Mexico
        -##navigation
        -#  %h3.rev-color
        -#    Navigation
        -#  %ul
        -#    %li=link_to "Home", "https://stc.unm.edu"
        -#    %li=link_to "News/Events", "https://stc.unm.edu"
        -#    %li=link_to "Technologies", "https://stc.unm.edu"
        -#    %li=link_to "Inventors", "https://stc.unm.edu"
        -#    %li=link_to "Entrepreneurs", "https://stc.unm.edu"
        -#    %li=link_to "Economic Development", "https://stc.unm.edu"
        -#    %li=link_to "About", "https://stc.unm.edu"
        -##links
        -#  %h3.rev-color
        -#    Quick Links
        -#  %ul
        -#    %li=link_to "Submit a Disclosure", "https://stc.unm.edu"
        -#    %li=link_to "Technology Portfolio", "https://stc.unm.edu"
        -#    %li=link_to "Gap Funding", "https://stc.unm.edu"
        -#    %li=link_to "Board Members Login", "https://stc.unm.edu"
        -#    %li=link_to "CVL Tenant Login", "https://stc.unm.edu"
        -#    %li=link_to "Careers", "https://stc.unm.edu"
        -#    %li=link_to "Semi-Annual Newsletters", "https://stc.unm.edu"
        -##socndet
        -##socnet
        -##contactus

